<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grupos</key>
	<dict>
		<key>a</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
			<key>jogos</key>
			<array>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>México</string>
					<key>direita</key>
					<string>Camarões</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>13/06 | 13h00 | Natal</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>México</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>17/06 | 16h00 | Fortaleza</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Camarões</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>18/06 | 16h00 | Manaus</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Camarões</string>
					<key>direita</key>
					<string>Brasil</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>23/06 | 17h00 | Brasília</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Croácia</string>
					<key>direita</key>
					<string>México</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>23/06 | 17h00 | Recife</string>
				</dict>
			</array>
		</dict>
		<key>b</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
			<key>jogos</key>
			<array>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
			</array>
		</dict>
		<key>c</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
			<key>jogos</key>
			<array>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
			</array>
		</dict>
		<key>d</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
			<key>jogos</key>
			<array>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
			</array>
		</dict>
		<key>e</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
			<key>jogos</key>
			<array>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
			</array>
		</dict>
		<key>f</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
			<key>jogos</key>
			<array>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
			</array>
		</dict>
		<key>g</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
			<key>jogos</key>
			<array>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
			</array>
		</dict>
		<key>h</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
			<key>jogos</key>
			<array>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
				<dict>
					<key>esquerda</key>
					<string>Brasil</string>
					<key>direita</key>
					<string>Croácia</string>
					<key>golsEsquerda</key>
					<string></string>
					<key>golsDireita</key>
					<string></string>
					<key>dataLocal</key>
					<string>12/06 | 17h00 | São Paulo</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
