<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grupos</key>
	<dict>
		<key>a</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Brasil</string>
				<string>Croácia</string>
				<string>México</string>
				<string>Camarões</string>
			</array>
		</dict>
		<key>b</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Espanha</string>
				<string>Holanda</string>
				<string>Chile</string>
				<string>Austrália</string>
			</array>
		</dict>
		<key>c</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Colômbia</string>
				<string>Grécia</string>
				<string>Costa do Marfim</string>
				<string>Japão</string>
			</array>
		</dict>
		<key>d</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Uruguai</string>
				<string>Costa Rica</string>
				<string>Inglaterra</string>
				<string>Itália</string>
			</array>
		</dict>
		<key>e</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Suíça</string>
				<string>Equador</string>
				<string>França</string>
				<string>Honduras</string>
			</array>
		</dict>
		<key>f</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Argentina</string>
				<string>Bósnia</string>
				<string>Irã</string>
				<string>Nigéria</string>
			</array>
		</dict>
		<key>g</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Alemanha</string>
				<string>Portugal</string>
				<string>Gana</string>
				<string>Estados Unidos</string>
			</array>
		</dict>
		<key>h</key>
		<dict>
			<key>selecoes</key>
			<array>
				<string>Bélgica</string>
				<string>Argélia</string>
				<string>Rússia</string>
				<string>Coréia do Sul</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
